.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

header,
footer {
  display: flex;
  flex-grow: 0;
}

header > div,
footer > div {
  display: inherit;
}

header > .container > img,
footer > .container > img {
  width: 100%;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainContent {
  display: flex;
  flex-grow: 1;
}

.mainContent > div {
  background-color: #fbfbfb;
  height: 100%;
  width: 100%;
}

.pageContent {
  padding: 0 30px;
}

.raceProperty {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.raceProperty > label {
  font-weight: 800;
  align-self: center;
  font-size: 26px;
  margin-bottom: 10px;
}
