.header {
  display: flex;
  flex-grow: 0;
  background: url(../../assets/headerPage.png) no-repeat center bottom;
  background-size: cover;
  align-items: center;
  min-height: 6vh;

  @media (min-width: 900px) {
    min-height: 13vh;
  }
}

.col-3 {
  display: inline-flex;
  width: calc(100% / 3);
  justify-content: center;
  text-align: center;
}

.btn {
  font-family: cursive;
  background-color: #e8dbce;
  color: #8d4546;
  font-size: 26px;
  padding: 15px 20px;
  height: min-content;
  font-weight: 600;
}