.unitProperty {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.unitProperty > label {
  font-weight: 800;
  align-self: center;
  font-size: 26px;
  margin-bottom: 10px;
}

.unitProperty__value {
  text-align: center;
  font-size: 22px;
}

.unitProperty__value:not(:last-child) {
  margin-bottom: 10px;
}

.unitProperty__addition {
  text-align: center;
  font-style: italic;
}

.unitProperty > img {
  object-fit: contain;
}
