.unitProperty {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.unitProperty > label {
  font-weight: 800;
  align-self: center;
  font-size: 26px;
  margin-bottom: 10px;
}

.unitProperty__value {
  text-align: center;
  font-size: 22px;
}

.unitProperty__value:not(:last-child) {
  margin-bottom: 10px;
}

.unitProperty__addition {
  text-align: center;
  font-style: italic;
}

.unitProperty > img {
  object-fit: contain;
}

.table {
  border-collapse: collapse;
}

.table__head {
  font-size: 22px;
}

.table__head th {
  text-align: center;
}

.table__body {
  font-size: 20px;
}

.table__body tr:nth-child(2n-1) {
  background-color: #ffcc99;
}

.table__body td {
  text-align: center;
  padding: 5px 10px;
}
