.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pageBody {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: #fbfbfb;
  width: 100%;
}

.footer {
  display: flex;
  flex-grow: 0;
  background: url(../../assets/footerPage.png) no-repeat center top;
  background-size: cover;
  min-height: 10vh;
}

.navigationContent {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.pageContent {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.link {
  color: blue;
  font-size: 20px;
  width: 100%;
  text-align: center;
  line-height: 2em;
  text-decoration-line: none;
}