body {
  margin: 0;
  font-family: cursive;
}

.header,
.footer {
  display: flex;
  flex-grow: 0;
}

.header {
  background: url(../assets/headerPage.png) no-repeat center bottom;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  min-height: 6vh;

  @media (min-width: 900px) {
    min-height: 13vh;
  }

  h1 {
    height: min-content;
    align-self: center;
  }
}

.footer {
  background: url(../assets/footerPage.png) no-repeat center top;
  background-size: cover;
  min-height: 10vh;
}

.btn {
  font-family: cursive;
  background-color: #e8dbce;
  color: #8d4546;
  font-size: 26px;
  padding: 15px 20px;
  height: min-content;
  font-weight: 600;
}

.link {
  color: blue;
  font-size: 20px;
  width: 100%;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pageBody {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: #fbfbfb;
  width: 100%;
}

.pageContent {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}
